<?xml version="1.0"?>
<!--
/**
 * @package     Mage4_Turnstile
 * @author      Rehan Mobin <m.rehan.mobin@gmail.com>
 * @copyright   Copyright (c) Mage4. All rights reserved. (https://www.mage4.com)
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <m4_trunstile>
            <m4_trunstile_api_config>
                <site_key backend_model="Magento\Config\Model\Config\Backend\Encrypted" />
                <secret_key backend_model="Magento\Config\Model\Config\Backend\Encrypted" />
                <theme>auto</theme>
            </m4_trunstile_api_config>
        </m4_trunstile>
    </default>
</config>
